{%extends 'base.html'%} {%block content%}
<div class="container text-center">
  <h1 class="display-1">You are valid user</h1>
  <p>You have made it to the super secret page</p>
  <img
    src="https://c.tenor.com/I0n7w-UIzycAAAAC/arangutan-monkey.gif"
    alt="Dancing Monkey"
  />
</div>
<div class="text-center m-2">
  <a href="/index.html"
    ><button class="btn btn-success btn-sm">Go Back</button></a
  >
  <a href="/logout"><button class="btn btn-danger btn-sm">Go Back</button></a>
</div>
{%endblock%}
