{%extends 'base.html'%} {%block content%}
<div class="container text-center">
  <h1 class="display-1">User Information</h1>
  <p>Username: {{user.username}}</p>
  <p>First Name: {{user.first_name}}</p>
  <p>Last Name: {{user.last_name}}</p>
  <p>Email: {{user.email}}</p>

  <div class="text-center m-2">
    <a href="/index.html"
      ><button class="btn btn-success btn-sm">Go Back</button></a
    >
    <a href="/logout"><button class="btn btn-danger btn-sm">Go Back</button></a>
  </div>
  {%endblock%}
</div>
